In [ ]:
#create a namespace(like schema in RDBMS)
create_namespace 'rposam'

In [ ]:
#to drop a created namespace(only empty namespaes can be deleted)
drop_namespace 'rposam'

In [ ]:
#to see list of tables under the namespaces
list_namespace_tables 'rposam'

In [ ]:
#to create a table under namespace(like scehma.table) 
#table must have atleast one column family
create 'rposam:dept'

In [ ]:
#to create table with column family
#column family is nothing but group of columns
create 'rposam:dept','col_fam_int'

In [ ]:
#to describe table
describe 'rposam:dept'

In [ ]:
#to insert a row into the table
#format will be like (schema.tablename,rowkey,columnfaimly:column_name,value)
#creating 4 rows for only column i.e deptno
put 'rposam:dept',1,'col_fam_int:deptno',10
put 'rposam:dept',2,'col_fam_int:deptno',20
put 'rposam:dept',3,'col_fam_int:deptno',30
put 'rposam:dept',4,'col_fam_int:deptno',40

In [ ]:
#To add another column family to the table
alter 'rposam:dept','col_fam_string'

In [ ]:
#insert other column dname
put 'rposam:dept',1,'col_fam_string:dname','ACCOUNTING'
put 'rposam:dept',2,'col_fam_string:dname','RESEARCH'
put 'rposam:dept',3,'col_fam_string:dname','SALES'
put 'rposam:dept',4,'col_fam_string:dname','OPERATIONS'

#insert location column with data
put 'rposam:dept',1,'col_fam_string:loc','NEW YORK'
put 'rposam:dept',2,'col_fam_string:loc','DALLAS'
put 'rposam:dept',3,'col_fam_string:loc','CHICAGO'
put 'rposam:dept',4,'col_fam_string:loc','BOSTON'

In [ ]:
#to get each row values for all available columns
get 'rposam:dept',1

In [ ]:
#to get specfic columns of a row
get 'rposam:dept',1,['col_fam_int:deptno','col_fam_string:dname']

In [ ]:
#to get specific row columns or column families
get 'rposam:dept',1,['col_fam_int:deptno','col_fam_string']

In [ ]:
#Delete one rowkey value
delete 'rposam:dept',1,"col_fam_int:deptno"
delete 'rposam:dept',1,"col_fam_string:dname"
delete 'rposam:dept',1,"col_fam_string:loc"

In [ ]:
#to delete all row values(single row at a time)
deleteall 'rposam:dept',2
deleteall 'rposam:dept',3

In [ ]:
#To get all the rows of a single column or multiple columns
scan 'rposam:dept',{COLUMNS => 'col_fam_int:deptno'}
scan 'rposam:dept',{COLUMNS => ['col_fam_string:dname','col_fam_string:loc']}

In [ ]:
#To get all the rows of a single column family or multiple column families
scan 'rposam:dept',{COLUMNS => 'col_fam_int'}
scan 'rposam:dept',{COLUMNS => ['col_fam_string','col_fam_string']}

In [ ]:
#to get all columns and rows of columns family and one column of another column family
scan 'rposam:dept',{COLUMNS => ['col_fam_int','col_fam_string:dname']}

In [ ]:
#to drop a table first we need to disable and drop
disable 'rposam:dept'
drop 'rposam:dept'

In [ ]:
#to create table in hive for which table already exists in hbase
#you can only create it in hive not in spark-sql
CREATE EXTERNAL TABLE rposam_db.hbase_dept(rownum int,deptno int, dname string,loc string)
STORED BY 'org.apache.hadoop.hive.hbase.HBaseStorageHandler'
WITH SERDEPROPERTIES("hbase.columns.mapping"=
                     ":key,col_fam_int:deptno,col_fam_string:dname,col_fam_string:loc")
TBLPROPERTIES("hbase.table.name"="rposam:dept");

In [ ]:
#to create hive table as well as hbase table
CREATE TABLE rposam_db.hbase_dept_temp(rownum int,deptno int, dname string,loc string)
STORED BY 'org.apache.hadoop.hive.hbase.HBaseStorageHandler'
WITH SERDEPROPERTIES("hbase.columns.mapping"=
                     ":key,col_fam_int:deptno,col_fam_string:dname,col_fam_string:loc")
TBLPROPERTIES("hbase.table.name"="rposam:dept_temp");

In [ ]:
#if you drop table from hive it drops it from hbase also