In [1]:
val emp_df = spark.read.format("csv")
  .option("delimiter",",").option("quote","")
  .option("header", "true")
  .option("inferSchema", "true")
  .load("file:///home/rposam2020/emp.csv").show

+-----+------+---------+----+-------------------+------+-------+------+
|empno| ename|      job| mgr|           hiredate|   sal|   comm|deptno|
+-----+------+---------+----+-------------------+------+-------+------+
| 7369| SMITH|    CLERK|7902|1980-12-17 00:00:00| 800.0|   null|    20|
| 7499| ALLEN| SALESMAN|7698|1981-02-20 00:00:00|1600.0| 300.00|    30|
| 7521|  WARD| SALESMAN|7698|1981-02-22 00:00:00|1250.0| 500.00|    30|
| 7566| JONES|  MANAGER|7839|1981-04-02 00:00:00|2975.0|   null|    20|
| 7654|MARTIN| SALESMAN|7698|1981-09-28 00:00:00|1250.0|1400.00|    30|
| 7698| BLAKE|  MANAGER|7839|1981-05-01 00:00:00|2850.0|   null|    30|
| 7782| CLARK|  MANAGER|7839|1981-06-09 00:00:00|2450.0|   null|    10|
| 7788| SCOTT|  ANALYST|7566|1982-12-09 00:00:00|3000.0|   null|    20|
| 7839|  KING|PRESIDENT|null|1981-11-17 00:00:00|5000.0|   null|    10|
| 7844|TURNER| SALESMAN|7698|1981-09-08 00:00:00|1500.0|   0.00|    30|
| 7876| ADAMS|    CLERK|7788|1983-01-12 00:00:00|1100.0|   null|    20|
| 7900| JAMES|    CLERK|7698|1981-12-03 00:00:00| 950.0|   null|    30|
| 7902|  FORD|  ANALYST|7566|1981-12-03 00:00:00|3000.0|   null|    20|
| 7934|MILLER|    CLERK|7782|1982-01-23 00:00:00|1300.0|   null|    10|
+-----+------+---------+----+-------------------+------+-------+------+

emp_df: Unit = ()

In [6]:
import org.apache.spark.sql.types._

val empSchema = new StructType()
  .add("empno",IntegerType,true)
  .add("ename",StringType,true)
  .add("job",StringType,true)
  .add("mgr",StringType,true)
  .add("hiredate",StringType,true)
  .add("sal",DoubleType,true)
  .add("comm",StringType,true)
  .add("deptno",StringType,true)

val emp_file = spark.read.format("csv")
  .option("delimiter",",").option("quote","")
  .option("header", "true")
   .option("mode", "PERMISSIVE")
  .schema(empSchema)
  .load("file:///home/rposam2020/emp.csv")

emp_file.registerTempTable("empTemp")

spark.sql("select * from empTemp").show

+-----+------+---------+----+----------+------+-------+------+
|empno| ename|      job| mgr|  hiredate|   sal|   comm|deptno|
+-----+------+---------+----+----------+------+-------+------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800.0|   null|    20|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600.0| 300.00|    30|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250.0| 500.00|    30|
| 7566| JONES|  MANAGER|7839|1981-04-02|2975.0|   null|    20|
| 7654|MARTIN| SALESMAN|7698|1981-09-28|1250.0|1400.00|    30|
| 7698| BLAKE|  MANAGER|7839|1981-05-01|2850.0|   null|    30|
| 7782| CLARK|  MANAGER|7839|1981-06-09|2450.0|   null|    10|
| 7788| SCOTT|  ANALYST|7566|1982-12-09|3000.0|   null|    20|
| 7839|  KING|PRESIDENT|null|1981-11-17|5000.0|   null|    10|
| 7844|TURNER| SALESMAN|7698|1981-09-08|1500.0|   0.00|    30|
| 7876| ADAMS|    CLERK|7788|1983-01-12|1100.0|   null|    20|
| 7900| JAMES|    CLERK|7698|1981-12-03| 950.0|   null|    30|
| 7902|  FORD|  ANALYST|7566|1981-12-03|3000.0|   null|    20|
| 7934|MILLER|    CLERK|7782|1982-01-23|1300.0|   null|    10|
+-----+------+---------+----+----------+------+-------+------+

empSchema = StructType(StructField(empno,IntegerType,true), StructField(ename,StringType,true), StructField(job,StringType,true), StructField(mgr,StringType,true), StructField(hiredate,StringType,true), StructField(sal,DoubleType,true), StructField(comm,StringType,true), StructField(deptno,StringType,true))
emp_file = [empno: int, ename: string ... 6 more fields]

warning: there was one deprecation warning; re-run with -deprecation for details

[empno: int, ename: string ... 6 more fields]

In [ ]:
spark.read.csv?