In [22]:
import pandas as pd
import os
import threading 
import time
path_1 = "emp.csv"
path_2 = "dept.csv"

def read_file(path):
    print("Reading file from:",path)
    global df
    df = pd.read_csv(path)
    print("*********Printing file data************")
    print(df)
    time.sleep(0.5)   
    print("Load file completed:",path)

t = time.time()
## these two funcation calls will be run as sequential
read_file(path_1)
read_file(path_2)
print("Total time taken for completion:",time.time()-t)

Reading file from: emp.csv
*********Printing file data************
    empno   ename        job     mgr    hiredate     sal    comm  deptno
0    7369   SMITH      CLERK  7902.0  1980-12-17   800.0     NaN      20
1    7499   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0   300.0      30
2    7521    WARD   SALESMAN  7698.0  1981-02-22  1250.0   500.0      30
3    7566   JONES    MANAGER  7839.0  1981-04-02  2975.0     NaN      20
4    7654  MARTIN   SALESMAN  7698.0  1981-09-28  1250.0  1400.0      30
5    7698   BLAKE    MANAGER  7839.0  1981-05-01  2850.0     NaN      30
6    7782   CLARK    MANAGER  7839.0  1981-06-09  2450.0     NaN      10
7    7788   SCOTT    ANALYST  7566.0  1982-12-09  3000.0     NaN      20
8    7839    KING  PRESIDENT     NaN  1981-11-17  5000.0     NaN      10
9    7844  TURNER   SALESMAN  7698.0  1981-09-08  1500.0     0.0      30
10   7876   ADAMS      CLERK  7788.0  1983-01-12  1100.0     NaN      20
11   7900   JAMES      CLERK  7698.0  1981-12-03   950.0     NaN      30
12   7902    FORD    ANALYST  7566.0  1981-12-03  3000.0     NaN      20
13   7934  MILLER      CLERK  7782.0  1982-01-23  1300.0     NaN      10
Load file completed: emp.csv
Reading file from: dept.csv
*********Printing file data************
   10  ACCOUNTING NEW YORK
0  20    RESEARCH   DALLAS
1  30       SALES  CHICAGO
2  40  OPERATIONS   BOSTON
3  40       SALES   DALLAS
Load file completed: dept.csv
Total time taken for completion: 1.0175187587738037

In [23]:
t = time.time()
## Creating two threads to run it in parallel if any one is idle
t1=threading.Thread(target=read_file,args=(path_1,))
t2=threading.Thread(target=read_file,args=(path_2,))

##starting two threads
t1.start()
t2.start()

## if first thread is idle then second thread starts executing
t1.join()
t2.join()
print("Total time taken for completion:",time.time()-t)

Reading file from: emp.csv
Reading file from:*********Printing file data************ dept.csv
    empno   ename        job     mgr    hiredate     sal    comm  deptno
0    7369   SMITH      CLERK  7902.0  1980-12-17   800.0     NaN      20
1    7499   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0   300.0      30
2    7521    WARD   SALESMAN  7698.0  1981-02-22  1250.0   500.0      30
3    7566   JONES    MANAGER  7839.0  1981-04-02  2975.0     NaN      20
4    7654  MARTIN   SALESMAN  7698.0  1981-09-28  1250.0  1400.0      30
5    7698   BLAKE    MANAGER  7839.0  1981-05-01  2850.0     NaN      30
6    7782   CLARK    MANAGER  7839.0  1981-06-09  2450.0     NaN      10
7    7788   SCOTT    ANALYST  7566.0  1982-12-09  3000.0     NaN      20
8    7839    KING  PRESIDENT     NaN  1981-11-17  5000.0     NaN      10
9    7844  TURNER   SALESMAN  7698.0  1981-09-08  1500.0     0.0      30
10   7876   ADAMS      CLERK  7788.0  1983-01-12  1100.0     NaN      20
11   7900   JAMES      CLERK  7698.0  1981-12-03   950.0     NaN      30
12   7902    FORD    ANALYST  7566.0  1981-12-03  3000.0     NaN      20
13   7934  MILLER      CLERK  7782.0  1982-01-23  1300.0     NaN      10

*********Printing file data************
   10  ACCOUNTING NEW YORK
0  20    RESEARCH   DALLAS
1  30       SALES  CHICAGO
2  40  OPERATIONS   BOSTON
3  40       SALES   DALLAS
Load file completed: emp.csv
Load file completed: dept.csv
Total time taken for completion: 0.5175487995147705